.icon{
    margin-left: 90%;
    font-size: 20;
}

.icon:hover{
    cursor:pointer;
}

.modal{
    width: 300px;
    height: 450px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 3px solid teal;    
}

.modal:hover{
    cursor: default;
}

.modalMenu{
    width: 90%;
    background-color: teal;
    height: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.modalMenu:hover{
    cursor: pointer;
}

.menuItem{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid gainsboro;
}

.menuItem:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menuItem:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menuItem:hover{
    background-color: aqua;
}

.menuImg{
    height: 25px;
    width: 25px;
    
}


.menuItem:hover{
    color: aquamarine;
}


.svgRow{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content:start;
}

.modalSvg{
    width: 150px;
    height: 150px;
    border: 2px solid teal;
    background-color: transparent;
    margin-right: 30px;
    box-shadow: 5px 10px #888888;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svgButton{
    width: 70px;
    height: 70px;
    border-radius: 60px;
    box-shadow: 3px 5px #888888;
}

.svgButton:hover{
    cursor: pointer;
}

.modalRowPuts{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.modalOutput{
    width: 130px;
    height: 40px;
    border: 2px solid teal;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modalInput{
    width: 130px;
    height: 40px;
    margin-left: 10px;
    border: 2px solid teal;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outputBig{
    border: 3px solid teal;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    margin-top: 30px;

}

.secButton{
    color: rgb(3, 59, 59);
    background-color: rgb(160, 160, 165) ;
    margin-top: 20px;
    margin-right: 140px;
}