.row{
    display:flex;
    flex-direction: row;
}

.canvasColumn{
    border-top: 3px solid rgb(25, 95, 112);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo{
    width: 5%;
    height: 100%;
    margin-left: 45px;
}

.catalogue{
    background-color:rgb(255, 255, 255);
    height: 85vh;
    width: 150px;
    overflow-y: scroll;
    border-top: 3px solid rgb(25, 95, 112);
    border-right: 2px solid rgb(25, 95, 112);

    display: flex;
    align-items: center;
    flex-direction: column;

}

.topbar{
    width: 100%;
    height: 64px;
    background-color: rgb(255, 255, 255);
}

.subhead{
    font-weight: bold;
    margin-top: 10px;
    font-size: 25px;
}

.toolbar{
    width: 100%;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid rgb(25, 95, 112);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidemenu{
    background-color:rgb(255, 255, 255);
    height: 85vh;
    width: 200px;
    overflow-y: scroll;
    border-top: 3px solid rgb(25, 95, 112);
    border-left: 2px solid rgb(25, 95, 112);

    display: flex;
    align-items: center;
    flex-direction: column;
}